/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
div{
    display: inline-block;
}
.hide{
    display: none
}
.navbar-light{
   text-transform: uppercase;
}
.navbar > .nav-link.active{
    color:#fff !important;
    border-bottom: 2px solid;
    border-bottom-color: darkred;
}
