<div id="home" class="intro route bg-image" style="background-image: url(assets/home-img.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content">
        <div class="table-cell">
            <div class="container">
                <h1 class="intro-title mb-4">I am Vikas</h1>
                <p class="intro-subtitle"><span class="text-slider-items">{{statusText}}</span><strong
                        class="text-slider">|</strong></p>
            </div>
        </div>
    </div>
</div>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="assets/home-img.jpg" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Vikas Kumar</span></p>
                                        <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                                        <p><span class="title-s">Email: </span> <span>followlogics@gmail.com</span></p>
                                        <p><span class="title-s">Phone: </span> <span>(868) 772-6164</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">

                                <span>HTML</span> <span class="pull-right">85%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>CSS3</span> <span class="pull-right">50%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>PHP</span> <span class="pull-right">70%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>JAVASCRIPT</span> <span class="pull-right">70%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead">
                                    Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu
                                    erat, accumsan id
                                    imperdiet et, porttitor
                                    at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla
                                    porttitor accumsan tincidunt.
                                </p>
                                <p class="lead">
                                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor
                                    eget felis
                                    porttitor volutpat. Vestibulum
                                    ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                                </p>
                                <p class="lead">
                                    Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in,
                                    elementum id enim.
                                    Nulla porttitor accumsan
                                    tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/ Section Contact-Footer Star /-->
<section id="contact" class="paralax-mf footer-paralax bg-image" >
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div class="contact-section">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Send Message
                                    </h5>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="fa fa-map-marker"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAA2ElEQVRo3u2VPQ6DMAxGOVaHniXsETPcohJbr9EylIUDdCQw9AD8bUzMpp/XdgS1Rt+TLFnx4ufEEEWEEELIEZBrJJaCAhSgAAUoQIFjCSzLIpZiV4FxnCVNK/H+oZFllZ6ZEECjcVxI245S152E0Gvu3H1Tid0EMHk0XBQvyfOnBvKmGbT29wLel+/J99p4kpQayHEbqBkR6L4I9DYEsLAhDB9PCGeomVhi52765jF1LDFyLPE0zXY/o1s2v7vAT35kp8tZLAUFKEABClCAAscSIIQQQiyyAmACWiefUbgpAAAAAElFTkSuQmCC"></span>
                                    </li>
                                    <li class="list-group-item"><span class="fa fa-phone"></span> (868) 772-6164</li>
                                    <li class="list-group-item"><span class="fa fa-envelope"></span> followlogics@gmail.com</li>
                                </ul>
                                <ul class="pagination">
                                    <li class="list-group-item">
                                        <a href=""><span class="ico-circle"><i class="fa fa-facebook fa-2x"></i></span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href=""><span class="ico-circle"><i class="fa fa-twitter fa-2x"></i></span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href=""><span class="ico-circle"><i class="fa fa-linkedin fa-2x"></i></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Get in Touch
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem
                                        soluta quidem
                                        expedita aperiam aliquid at.
                                        Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                                        mollitia inventore?
                                    </p>

                                </div>
                                <div class="socials">

                                </div>
                                <a _vik href="https://stackoverflow.com/users/3717849/vikash-ambani?theme=dark">
                                    <img _vik src="https://stackoverflow.com/users/flair/3717849.png" width="208"
                                        height="58" alt="Profile for Vikash Ambani at Stack Overflow"
                                        title="Profile for Vikash Ambani at Stack Overflow">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">

        </div>
    </footer>
</section>